@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    width: 100%;
    position: relative;
    -webkit-overflow-scrolling: touch;
    /* smooth native-like mobile scrolling */
  }
}


@layer utilities {
  .hero-glow {
    background: radial-gradient(circle at center, rgba(130, 202, 255, 0.15) 0%, rgba(0, 0, 0, 0) 70%);
  }

  .bg-hero-gradient {
    /* transitioning #82caff -> #0041c2 -> #0f52ba */
    background: linear-gradient(to right, #000000 0%, #0041c2 35%, #0f52ba 60%, #1034a6 85%, #000000 100%);
  }
}